<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>WRYD</title>
<meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#E95420" />
<!-- add icon link -->
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&amp;display=swap'><link rel="stylesheet" href="/static/style.css">
</head>

<body>
<!-- partial:index.partial.html -->
<body>
	<div class="lockScreen locked" sysDesktopBackground>
		<div class="user" data-user="Guest"></div>
		<div class="lockScreenLogIn">
			<input type="text" class="inputID" placeholder="Enter ID" autocomplete="off"/>
			<input type="password" class="systemLockInput inputPassword" placeholder="Enter Password" autocomplete="off"/>
			<div class="login empty"></div>
		</div>
	</div>
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script  src="/static/script.js"></script>

</body>
</html>
